version: '3.8'

services:
  app-backend:
    build: .
    container_name: inprout-monolito
    ports:
      - "8080:8080"
    environment:
      # --- Conexão 1 (Local/Principal) ---
      - DB_URL=jdbc:postgresql://host.docker.internal:5432/inpdatabase_v1
      - DB_USER=postgres
      - DB_PASS=inpservices123

      # --- Conexão 2 (Homologação/Remoto) ---
      #- DB_HOMOLOG_URL=jdbc:postgresql://3.128.248.3:5432/inprout.service-homolog
      #- DB_HOMOLOG_USER=postgres
      #- DB_HOMOLOG_PASS=inpservices123

      # --- Outras Configurações ---
      - JWT_SECRET=bWV1cHJvamV0b2lucHJvdXRzZWd1cmFuY2EyMDI1Y29tY2hhdmVzdXBlcmZvcnRl
    restart: always
    # Se precisar acessar o localhost da máquina no Linux, adicione:
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"